ultralytics
redis
opencv-python-headless
requests
python-dotenv
python-logging-loki
numpy
lapx>=0.5.2
torchreid
easydict
gdown
yacs
tb-nightly
flake8
yapf
isort
imageio
scipy
pandas
seaborn
Cython
h5py
six
future
